.levels, 
.container,
#score,
#save-game{
 	box-sizing: border-box;
}

header{
	margin-bottom: 15px;
}

.center{
	margin: 0 auto;
}

#my-canvas{
	display: block;
}

.container{
	width:600px;
}

#smile{
	background: url(../img/smiles.gif) no-repeat;
	width: 30px;
	height: 30px;
}

.gameover #smile{
	background-position-y: -36px;
}

.title-game{
	border-bottom: 1px solid #999;
	border-top: 1px solid #ccc;
	color: #FFCC00;
	font-family: Verdana,Arial,sans-serif;
	font-size: 24px;
	text-align: center;
	text-shadow: 2px 2px #333;
	text-transform:uppercase;
	padding: 10px 0;
}

.levels{
	border-bottom: 1px solid #999;
	border-top: 1px solid #999;
	margin: 10px 0;
	padding: 10px 0;
}

button{
	background:transparent;
	border:1px solid #999;
	color:#999;
}

button:hover{
	background:#999;
	border:1px solid #999;
	color:#fff;
}

button.current{
	background:#999;
	color:#fff;
}

